<!DOCTYPE html>
<html>
  <head>
    <title>{{ cardTitle }} npm card</title>
    <style>
      .card {
        border-radius: 15px;
        border: 2px solid #73ad21;
        padding: 5px;
        margin: 25px;
        background: black;
        padding-left: 25px;
        padding-right: 25px;
        width: fit-content;
        background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/burried.png");
      }
    </style>
  </head>
  <body>
    <div class="card">{{ card }}</div>
  </body>
</html>
